@import url("./src/css/first-section.css");
@import url("./src/css/second-section.css");
@import url("./src/css/third-section.css");
@import url("./src/css/forth-section.css");

:root {
    --white-500: #fafafa;
    --primary: rgba(178, 70, 74, 1);
    --black: rgba(0, 0, 0, .8);
    --black-500: rgba(0, 0, 0, .5);
    --secondary: rgb(254, 240, 222);
    --max-layout-width: 1600px;
    --max-layout-height: 950px;
    --desktop-columns-default: 40% 1fr;
    --mobile-columns-default: 1fr;
}

html {
    max-width: 100vw !important;
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--black-500) !important;
}

body {
    background-color: var(--black-500) !important;
}

.container {
    padding: 0 !important;
    overflow-x: hidden !important;
    max-width: var(--max-layout-width) !important;
}

.c-button {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white-500);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: auto;
    border-radius: 5em;
}
